<div class="booking-details">
  <h2>Booking Details</h2>
  <p><strong>Hotel:</strong> <%= @booking.hotel.hotel_name %></p>
  <p><strong>Customer:</strong> <%= @booking.user.name %></p>
  <p><strong>Check-in Date:</strong> <%= @booking.check_in_date %></p>
  <p><strong>Check-out Date:</strong> <%= @booking.check_out_date %></p>
  <p><strong>Status:</strong> <%= @booking.status.try(:capitalize) %></p>

  <% if @booking.status == 'pending' %>
      <%= link_to "Cancel Booking", cancel_admin_booking_path(@booking), method: :delete, data: { confirm: 'Are you sure you want to cancel this booking?' }, class: 'btn btn-danger' %>
    <% end %>

    <%= link_to "Back to Admin Dashboard", admin_dashboard_path, class: "btn btn-secondary" %>


</div>
